body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #dfd3c8;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

input[type="email"],
input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 400px;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #2980b9;
}

.delete-btn {
  color: white;
  background-color: darkred;
  padding: 0px 10px;
  margin-left: 1rem;
  font-size: 10px;
}

ul {
  font-size: 12px;
}

.container {
  width: 100%;
  padding: 1rem;
  display: flex;
}

.container-register {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.invite-btn {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 400px;
}

.post {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  background: white;
  width: 50vw;
}

.post h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.post p {
  margin-bottom: 10px;
  font-size: 12px;
}

/* Avstånd mellan inläggen */
.post+.post {
  margin-top: 20px;
}

.select-role {
  border: 1px solid #ccc;
  padding: 0.6rem;
  margin: 1rem;
  border-radius: 5px;
}

.edit-post {
  padding: 3px 5px;
  font-size: xx-small;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.edit-post:hover {
  background-color: white;
}